body {
  user-select: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.date {
  text-align: center;
  font-size: 36pt;
  margin-left: 0;
}

.time {
  text-align: center;
  font-size: 48pt;
  margin-left: 0;
}